body{
    background-color: coral;
    color: rgb(34, 9, 128);
}

h1{
    color: rgb(157, 255, 0);
    background-color: teal;
    font: italic 200% fantasy;
    text-align: inherit;
    border: 3px groove black;
}








